body {
  padding-top: 50px;
  padding-bottom: 20px;
}

* {
  box-sizing:border-box;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}


nav {
  position: fixed;
  width: 100%;
  height: 30px;
  border-bottom:1px solid lightgray;
  top:2%;
  left:0;
  background: #fff;

}

nav div {
  margin-left: 20px;
}

.nav-logo {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: red;
  color: white;
  margin-top:-12px;

}


.logo-dash {
  width: 30px;
  height: 7px;
  background:#fff;
  border-radius: 2px;
  margin-top: -24px;
  margin-left: 25px;

}

.gmail-btn {
  width: 60px;
  height: 60px;
  background-image: url("../icons/Gmail-icon.ico");
  background-size: cover;
  background-color: transparent;
  border:none;


}
.outlook-btn {
  width: 60px;
  height: 60px;
  background-image: url("../icons/outlook-icon.png");
  background-size: cover;
  background-color: transparent;
  border:none;

}
.skype-btn {
  width: 60px;
  height: 60px;
  background-image: url("../icons/Skype-better-icon.png");
  background-size: cover;
  background-color: transparent;
  border:none;


}
.slack-btn {
  width: 60px;
  height: 60px;
  background-image: url("../icons/Slack-icon-new.png");
  background-size: cover;
  background-color: transparent;
  border:none;


}
.twitter-btn {
  width: 60px;
  height: 60px;
  background-image: url("../icons/twitter-icon.png");
  background-size: cover;
  background-color: transparent;
  border:none;


}

.yammer-btn {
  width: 220px;
  height: 49px;
  background-image: url("../icons/yammer-acc-icon.png");
  background-size: cover;
  background-color: transparent;
  border:none;



}


/* Microsoft styles for validation helpers */
.field-validation-error {
  color: #b94a48;
}
.field-validation-valid {
  display: none;
}
input.input-validation-error {
  border: 1px solid #b94a48;
}
input[type="checkbox"].input-validation-error {
  border: 0 none;
}
.validation-summary-errors {
  color: #b94a48;
}
.validation-summary-valid {
  display: none;
}
